<!doctype html>
<html>

<head>
  <title>Awesome Answers</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="newQuestion.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|IBM+Plex+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <span class="branding"><a href="#">
            <img src="awesome-answers-logo2.svg" alt="Logo" class="logo">
            </a></span>
        <nav class="nav">
            <ul style="list-style: none;" class="menu">
                <li class="menu-item">Questions</li>
                <li class="menu-item">New Question</li>
                <li class="menu-item">Sign In</li>
                <li class="menu-item">Sign Up</li>  
            </ul>
        </nav>
    </header>
    <div class="createQ">
        <span class="newQ">New Question</span>
        <div>
        <p class="messageHeader">Title: 
            <textarea class="titleBox">Give your message a Title</textarea>
        </p>
        <p class= "messageHeader">Body: 
            <textarea class="messageBox">Type your message here</textarea>
        </p>
        <p><input class="submitButton" type="submit" value="Create Question"></p>
        </div>
    </div>


<footer class="contact">
    <span>About</span><span>Contact</span>
</footer>
</body>

</html>